<section class="section grey lighten-4">
    <div class="row">
        <div class="col s12 m6 l6">
            <img src="/assets/img/bg/leather-1175154_1280.jpg">
        </div>

        <div class="col s12 m6 l6">
            <div class="center">
                <h2>Bolsas</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem quia distinctio unde laborum error labore molestias perspiciatis. Sapiente iste perferendis, quasi minima error numquam voluptatibus incidunt quaerat dolor, natus vel.</p>
                <a href="/computadores" title="Compre Computadores" class="btn-large waves-effect waves-light"><i class="fa fa-shopping-bag"></i> Compre Já!</a>
            </div>
        </div>
    </div>
</section>