<div class="card medium hoverable grey-text text-darken-4 center">
    <div class="card-image">
        <img src="{{ item.image }}" alt="{{ item.title }}">
    </div>

    <div class="card-content">
        <span class="title">
                <strong>{{ item.title }}</strong>
            </span>
    </div>
    <div class="card-action">
        <button class="btn-large halfway-fab waves-effect waves-light snipcart-add-item"
        data-item-name="{{ item.title }}"
        data-item-id="{{ item.sku }}"
        data-item-image="{{ item.image }}"
        data-item-url="{{ item.url }}"
        data-item-price="{{ item.price }}">
            <i class="fa fa-2x fa-cart-plus"></i> {{ item.price }}
        </button>
    </div>
</div>