<div class="card hoverable grey-text text-darken-4">
    <div class="card-image">
        <img src="{{ item.image }}" alt="{{ item.title }}">
        <button class="btn-floating btn-large halfway-fab waves-effect waves-light snipcart-add-item"
        data-item-name="{{ item.title }}"
        data-item-id="{{ item.sku }}"
        data-item-image="{{ item.image }}"
        data-item-url="{{ item.url }}"
        data-item-price="{{ item.price }}">
            <i class="fa fa-2x fa-cart-plus"></i>
        </button>
    </div>

    <div class="card-content">
        <div class="center">
            <span class="title">
                <strong>{{ item.title }}</strong>
            </span>
            <p>
                <em>{{ item.price }} MZN</em>
            </p>
        </div>
    </div>
</div>