<section class="section">
    <div class="row">
        <div class="col s12 m6 l6">
            <img src="/assets/img/bg/printer-2847968_1280.jpg" alt="">
        </div>

        <div class="col s12 m6 l6">
            <br><br><br><br>
            <div class="center">
                <h2>Impressoras</h2>
                <a href="/impressoras" title="Compre Impressoras" class="btn-large waves-effect waves-light"><i class="fa fa-shopping-bag"></i> Compre Já!</a>
            </div>
        </div>
    </div>
</section>