<section class="section grey">
    <div class="row">
        <div class="col s12 m6 l6">
            <img src="" alt="">
        </div>

        <div class="col s12 m6 l6 primary-color white-text">
            <div class="valign-wrapper center-align">
                <h2>Impressoras & Acessórios</h2>
                <p></p>
                <a href="/impressoras" title="Compre Computadores" class="btn-large waves-effect waves-light"><i class="fa fa-shopping-bag"></i> Compre Já!</a>
            </div>
        </div>
    </div>
</section>