<section class="section">
    <div class="row">
        <div class="col s12 m6 l6">
            <img src="assets/img/bg/printer-2847968_1280.jpg" alt="">
        </div>

        <div class="col s12 m6 l6">
            <div class="center">
                <h2>Impressoras & Acessórios</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto explicabo maxime aliquam aliquid ut aut cumque temporibus? Iure quod, esse quas voluptatibus saepe veniam ullam maxime nesciunt animi optio unde!</p>
                <a href="/impressoras" title="Compre Impressoras" class="btn-large waves-effect waves-light"><i class="fa fa-shopping-bag"></i> Compre Já!</a>
            </div>
        </div>
    </div>
</section>