<section class="section primary-color white-text">
    <div class="row">
        <div class="col s12 m6 l6">
            <img src="/assets/img/bg/pexels-photo-94843.jpeg">
        </div>

        <div class="col s12 m6 l6 primary-color white-text">
            <br><br><br><br>
            <div class="center">
                <h2>Joias</h2>
                <a href="/joias" title="Compre Joias" class="btn-large waves-effect waves-light"><i class="fa fa-shopping-bag"></i> Compre Já!</a>
            </div>
        </div>
    </div>

</section>