<div class="navbar-fixed">
    <nav class="nav-extended">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo left" title="{{ site.title }}">{{ site.title }}</a>

            <ul class="right hide-on-med-and-down">
                {% include nav.html %}
            </ul>
        </div>

        <div class="nav-content">
            <a class="btn-floating btn-large halfway-fab waves-effect waves-light snipcart-checkout">
                <i class="fa fa-shopping-cart"></i>
            </a>
        </div>
    </nav>
</div>