<section class="section white">
    <div class="row">
        <div class="col s12 m6 l6">
            <img src="/assets/img/bg/pexels-photo-277406.jpeg" alt="">
        </div>

        <div class="col s12 m6 l6">
            <br><br><br><br>
            <div class="center">
                <h2>Relógios</h2>
                <a href="/impressoras" title="Compre Impressoras" class="btn-large waves-effect waves-light"><i class="fa fa-shopping-bag"></i> Compre Já!</a>
            </div>
        </div>
    </div>
</section>