<section class="section">
    <div class="row">
        <div class="col s12 m6 l6 primary-color white-text">
            <div class="valign-wrapper center-align">
                <h2>Smartfones</h2>
                <p></p>
                <a href="/smartfones" title="Compre Computadores" class="btn-large waves-effect waves-light"><i class="fa fa-shopping-bag"></i> Compre Já!</a>
            </div>
        </div>

        <div class="col s12 m6 l6">
            <img src="" alt="">
        </div>
    </div>
</section>